
.a{
	color: blue;  
 
    background-size:     cover;                      /* <------ */
               /* optional, center the image */

}
.img-circle1{
	border-radius: 50%;
	width: 150px;
	height: 150px;
    content: url("https://scontent.fbom1-2.fna.fbcdn.net/v/t1.0-9/13699957_739702226171843_2616790997569857615_n.jpg?oh=fe778969ded989200c213524934bcb8d&oe=582359AC");
	border-style: solid;
    border-width: 5px;
    border-color: yellow;
}
/**/
.img-circle2{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	content:url("https://scontent.fbom1-2.fna.fbcdn.net/v/t1.0-0/p206x206/13775364_739702222838510_972437512497358672_n.jpg?oh=7ba919c667f711437c60fe099d710ce8&oe=582A66F7");
	border-style: solid;
    border-width: 5px;
    border-color: yellow;
}

}
.fa1{
	color: yellow;
}
.pika{
	font-family: Arial;
	font-size: 37px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: yellow;
}
.pika1{
	font-family: Garamond;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: white;
}




/*.container-fluid1 {
	background-color: black;

}*/

/*.ss {
	background-color: green;

}*/

/*#menu li{
	min-width: 50%;
}*/

